body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: grid;
  place-content: center;
  height: 100vh;
  overflow: hidden;
}

.wip {
  max-width: 100%;
  object-fit: contain;
}

h2 {
  text-align: center;
}
