:root {
  --ease-bounce: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  --color-primary: cornflowerblue;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #e8e6e3;
}

abbr { text-decoration: none !important; }

svg,
img {
  user-select: none;
}

h3 { margin: 1em 0 0.5em; }

.save {
  vertical-align: middle;
}

.save__icon {
  border-radius: 100%;
  padding: 3px;
  transition: box-shadow 200ms var(--ease-bounce);
}

.save:focus { outline: none; }

.save:focus > .save__icon {
  box-shadow: 0 0 0 3px var(--color-primary);
}

.grid {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-template-areas:
    'input output'
    'graph tests';
  padding: 1rem;
  gap: 1rem;
  height: 100vh;
  box-sizing: border-box;
}

.box {
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.5rem #0004;
  padding: 1rem;
  background: #fff;
  transition: border-color 400ms ease-out;
  display: flex;
  flex-direction: column;
}

.box__content {
  height: 0;
  flex-grow: 1;
  overflow: auto;
  scroll-behavior: smooth;
}

.box--output { grid-area: output; }
.box--input { grid-area: input; }
.box--graph { grid-area: graph; }

.box__content--tests {
  grid-area: tests;
  display: grid;
  grid-template: min-content 1fr / 1fr 1fr;
  grid-template-areas:
    'title1 title2'
    'list list';
  overflow: hidden;
}

.box__content--output {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  overflow: auto;
  scroll-behavior: smooth;
  height: 0;
  word-break: break-all;
  white-space: pre-wrap;
}

.box__content--input {
  display: grid;
  grid-template: 1fr min-content / 1fr 1fr;
  grid-template-areas:
    'textBox upload'
    'textBox select';
  gap: 1rem;
  overflow: visible;
}

.box__content--graph { overflow: visible; }

.input_box {
  font-family: 'Roboto Mono', monospace;
  grid-area: textBox;
  resize: none;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 4px;
  margin: -4px;
  transition: box-shadow 200ms var(--ease-bounce);
}

.input_box:invalid {
  color: crimson;
}

.input_box:focus {
  box-shadow: 0 0 0 3px var(--color-primary);
}

.upload {
  grid-area: upload;
  border: dashed 1rem #0002;
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.5;
  user-select: none;
}

.upload__input {
  position: absolute;
  top: -1rem;
  right: -1rem;
  bottom: -1rem;
  left: -1rem;
  border-radius: 1rem;
  width: calc(100% + 2rem);
  opacity: 0;
  font-size: 0;
  z-index: 1;
  cursor: pointer;
}

.upload__input::-webkit-file-upload-button {
  cursor: pointer;
}

.upload__text {
  text-align: center;
  margin: 0.5rem 1rem 0;
}

.upload__icon {
  height: 5rem;
}

.select {
  grid-area: select;
  cursor: pointer;
}

.select,
.test__input {
  border-radius: 0.5rem;
  border: none;
  outline: none;
  padding: 0.5em 0.5em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3), 0 0 0 0 var(--color-primary);
  transition: box-shadow 200ms var(--ease-bounce);
  min-width: 0;
  background: white;
}

.select:focus,
.test__input:focus {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3), 0 0 0 3px var(--color-primary);
}

#graph > svg {
  width: 100%;
  height: 100%;
}

.box__title { margin: 0 0 1rem; }

.box__title--sub {
  color: #666;
  font-size: 0.6667em;
  margin: 6px 0.5em;
  float: right;
}

.grid-graph {
  display: grid;
  grid-template: 1fr 1fr / 1fr 4rem;
  grid-template-areas:
    'graph infoDfa'
    'graph infoFinite';
}
.graph-info__dfa { grid-area: infoDfa; }

.graph-info__finite {
  grid-area: infoFinite;
}

.grid-graph__graph {
  grid-area: graph;
  display: grid;
  place-items: center;
}

.info__icon-container {
  height: 3rem;
  position: relative;
}

.info__icon {
  display: none;
  height: 100%;
}

.info__icon--warning {
  height: 1.5rem;
  position: absolute;
  right: -0.75rem;
  top: -0.75rem;
}

.graph-info__text {
  margin: 0.5em 0 0;
  font-weight: bold;
}

.graph-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info__icon-container--false .info__icon--false,
.info__icon-container--true .info__icon--true,
.info__icon-container--wrong .info__icon--wrong,
.info__icon-container--unknown .info__icon--unknown,
.info__icon-container--warning .info__icon--warning {
  display: block;
}

.test__input {
  width: 100%;
  box-sizing: border-box;
  padding: 0 2.5rem 0 1rem;
  line-height: 2.5;
  position: relative;
  z-index: 1;
}

.test::before {
  font-size: 1.25em;
  position: absolute;
  line-height: 2;
  right: 2.5rem;
  z-index: 2;
  pointer-events: none;
}

.word-list-column {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  overflow: auto;
  grid-area: list;
}

.word-list__item[data-icon="true"][data-original="false"]::before {
  text-shadow: 0 0 8px #368a39;
}

.word-list__item[data-icon="false"][data-original="true"]::before {
  text-shadow: 0 0 8px #ff5d2a;
}

.word-list[data-infinite="true"]::after {
  /* content: '...';
  margin: -2.5rem 0 0 3rem; */
  content: '∞';
  margin: -1rem 0 0 1.5rem;
  font-size: 4rem;
  line-height: 1;
  display: block;
  color: #888;
}

.word-list[data-infinite="true"]::before {
  content: '';
  position: absolute;
  bottom: 3rem;
  right: 0;
  left: 0;
  height: calc(1rem + 33%);
  background-image: linear-gradient(to top, white, transparent);
  z-index: 1;
}

.word-list[data-infinite="true"]:empty::after {
  position: fixed;
}

.word-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: sticky;
  bottom: 0;
  align-self: end;
}

.word-list__word {
  background: #eee;
  padding: 0 0.3333em;
  line-height: 1.6667;
  border-radius: 0.3333em;
  margin-left: 1.75em;
}

.word-list__item {
  position: relative;
}

.word-list__item::before {
  content: '';
  position: absolute;
  line-height: 1.5;
}

[data-icon]::before { font-family: 'Apple Color Emoji', 'Android Emoji', 'Segoe UI Emoji', EmojiSymbols, Symbola, sans-serif; }
[data-icon="true"]::before { content: '✔'; }
[data-icon="false"]::before { content: '❌'; }
[data-icon="unknown"]::before { content: '❓'; }
[data-icon="wrong"]::before { content: '⚠'; }
